<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Notes App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header> 
        <nav>
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('main.profile') }}">Profile</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
        </nav>
    </header>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash-message {{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

        
    </div>
    
    <footer>
        <p>&copy;2025 My flask Notes App</p>
    </footer>
   
    <script>
        setTimeout(() => {
          const alerts = document.querySelectorAll('.flashes');
          alerts.forEach(alert => alert.style.display = 'none');
        }, 5000); // hide after 3 seconds
      </script>
      
</body>
</html>