<p class="welcome">Welcome to Notes platform, Please <span style="color: #007bff;">Login</span> to access your notes and features. </p> 
{% extends "base.html" %}

{%block title %}Login{% endblock %}


{% block content%}

<h2 class="page-title"><span style="color: #007bff;">Login</span></h2>

<form method="POST" class="login-tag">
  {{ form.hidden_tag() }}

  <p>
    {{ form.email.label }}<br />
    {{ form.email(size=32) }}<br />
    {% for error in form.email.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>

  <p>
    {{ form.password.label }}<br />
    {{ form.password(size=32, type="password")}}<br />
    {% for error in form.password.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>

  <p>{{ form.submit()}}</p>
</form>

<p class="bottom-link">
  Don't have an account? <a href="{{ url_for('main.register')}}">Sign Up</a> here.
</p>

{%endblock %}